body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 5px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

#fcLoggerExtension {
  width: 400px;
  height: 300px;
  display: flex;
}

#loggerSelector {
  width: 150px;
  overflow: auto;
  text-overflow: ellipsis;
  border-right: 1px solid rgba(0, 0, 0, 0.5);

  input {
    vertical-align: middle;
    height: 16px;
    width: 16px;

    cursor: pointer;
  }

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 25px;
    font-size: 16px;
    padding-left: 20px;

  }

  li:first-child {
    padding-left: 5px;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  li.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#settingsContainer {
  flex: 1;
  overflow: auto;
  height: 100%;

  li > div.subItem {
    padding-left: 30px;
  }
}

.button {
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.center {
  text-align: center;
}

