body {
    margin: 0;
    padding: 0;
}

#ToolboxContainer {
    width: 200px;
    margin: 0;
    padding: 0;
}

#ToolboxContainer h1 {
    height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#ToolboxContainer ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#ToolboxContainer li {
    height: 40px;
    padding: 10px 10px 10px 70px;
    background: #ffffff no-repeat 10px center;
    background-size: auto 60%;
    margin: 0;
}

#ToolboxContainer li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#ToolboxContainer #showConfigDialog {
    background-image: url("../bilder/cogwheel.png");
}

#ToolboxContainer #showLoggerDialog {
    background-image: url("../bilder/interface.png");
}

#ToolboxContainer #openJiraIssue {
    background-image: url("../bilder/tool.png");
}

#ToolboxContainer #showTestDialog {
    background-image: url("../bilder/education.png");
}
