body {
  margin: 0;
  padding: 0;
}

#ToolboxContainer {
  width: 200px;
  margin: 0;
  padding: 0;

  h1 {
    height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
  }
  ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  li {
    height: 40px;
    padding: 10px 10px 10px 70px;
    background: white no-repeat 10px center;
    background-size: auto 60%;
    margin: 0;
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #showConfigDialog {
    background-image: url("../bilder/cogwheel.png");
  }

  #showLoggerDialog {
    background-image: url("../bilder/interface.png");
  }

  #openJiraIssue {
    background-image: url("../bilder/tool.png");
  }

  #showTestDialog {
    background-image: url("../bilder/education.png");
  }
}

